# Игнориране на файлове с конфиденциална информация
.env
*.env
*.env.*
.env.*

# Игнориране на __pycache__ и други временни файлове
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнориране на базата данни (ако има локални SQLite файлове)
*.sqlite3

# Статични и медийни файлове (ако не искаш да ги качваш в GitHub)
staticfiles/
media/


.venv/
.git-rewrite/
