{% extends "base.html" %}
{% block title %}Добавяне на ревю{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto bg-white p-6 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4">Добави ревю за {{ course.title }}</h2>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded-lg hover:bg-blue-800">
            Изпрати
        </button>
    </form>
</div>
{% endblock %}
