{% extends "base.html" %}
{% block title %}Вход{% endblock %}

{% block content %}
<h2 class="text-2xl font-bold mb-4">Вход</h2>
<form method="post" class="bg-white p-6 rounded-lg shadow-md">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="bg-blue-600 text-white py-2 px-4 rounded hover:bg-blue-700">
        Вход
    </button>
</form>
<p class="mt-4">Нямате акаунт? <a href="{% url 'register' %}" class="text-blue-600">Регистрирайте се тук</a>.</p>
{% endblock %}
